#loader{
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    opacity: 1;
    pointer-events: auto;
    background-color: #fff;
    background: #fff;
    z-index: 9;
}
#loader.hidden{
    opacity: 0;
    pointer-events: none;
}